header {
    background-color: rgb(41, 41, 41);
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px black(0, 0, 0, 0.1);
    border-bottom: 1px solid white;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        img {
            width: 50px;
            height: auto;
        }
        a {
            margin-left: 0.5rem;
            text-decoration: none;
            color: white;
            font-weight: bold;
            transition: color 0.2s ease;

            &:hover {
                color: gold;
            }
        }
    }
}
